* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    background-image: url(images/miside.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    padding: 10px 0;
    z-index: 12;
}

nav .menu {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo img {
    width: 300px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.menu ul li a:hover{
    background-image: linear-gradient(to right, blue, cyan);
    color: black;
}

.NavBtns button {
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: 2px solid blue;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    color: aqua;
    background: transparent;
}

.NavBtns button:hover {
    background-image: linear-gradient(to right, blue, cyan);
    color: black;
}

.wrapper {
    height: 100%;
}

.container {
    width: 1200px;
    height: 85%;
    margin: 0 auto;
    padding: 0 20px;
}

.InnerDiv {
    height: 80%;
    display: flex;
    align-items: center;
}

.center {
    width: 54%;
}

.center .title {
    color: white;
    font-size: 70px;
}

.center .sub_des {
    color: white;
    font-size: 18px;
    font-weight: 20;
    margin: 11px 0 25px 0;
}

.center .btns button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, blue, cyan);
    color: black;
}

.center .btns button:hover {
    border: 2px solid cyan;
    color: cyan;
    background: transparent;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: normal;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.MobNavBtns button {
    display: none;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    color: white;
    background-image: linear-gradient(to right, blue, cyan);
    border: none;
}